<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="renderer" content="webkit|ie-comp|ie-stand">
		<meta name="viewport" content="width=device-width,initial-scale=1">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link rel="stylesheet" type="text/css" href="application/views/admin/css/animate.min.css" />
		<link rel="stylesheet" type="text/css" href="application/views/admin/fonts/css/fontello.css" />
		<link rel="stylesheet" type="text/css" href="application/views/admin/css/common.css" />
		<link rel="stylesheet" type="text/css" href="application/views/admin/css/components.css" />
		<!--[if lt IE 8]>
			<link rel="stylesheet" href="application/views/admin/fonts/css/fontello-ie7.css">
		<![endif]-->
		<script src="application/views/admin/js/jquery-1.11.2.min.js" type="text/javascript"></script>
		<script src="application/views/admin/js/jquery.cookie.js" type="text/javascript"></script>
		<!--[if lt IE 9]>
		      <script src="application/views/admin/js/html5shiv.min.js"></script>
		      <script src="application/views/admin/js/respond.min.js"></script>
		<![endif]-->
        <script type="text/javascript" src="application/views/admin/js/DatePicker/WdatePicker.js"></script>
        <!-- layer 弹出层插件 -->
        <script type="text/javascript" src="application/views/admin/js/layer/layer.js"></script>
        
        <!-- vue插件 -->
        <!-- <script type="text/javascript" src="application/views/admin/js/vue.min.js"></script>
        <script type="text/javascript" src="application/views/admin/js/vue-lazyload.js"></script> -->
        
        <!-- lazyload -->
        <script type="text/javascript" src="application/views/admin/js/jquery.lazyload.js"></script>

		<!--颜色插件-->
		<script type="text/javascript" src="application/views/admin/js/colpick.js"></script>
		<link rel="stylesheet" href="application/views/admin/css/colpick.css" type="text/css" />
		<!--[if lt IE 9]>
		<script src="http://www.ijquery.cn/js/html5shiv.js"></script>
		<![endif]-->
		<title></title>