<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,height=device-height, user-scalable=no,initial-scale=1, minimum-scale=1, maximum-scale=1 ">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>直播倒计时</title>
    <link rel="stylesheet" href="<?php echo $this->templates_path?>/css/swiper-3.4.2.min.css">
    <link rel="stylesheet" href="<?php echo $this->templates_path?>/css/style.css">
    <script src="<?php echo $this->templates_path?>/js/jquery-1.11.0.js"></script>
    <script src="<?php echo $this->templates_path?>/js/swiper-3.4.2.jquery.min.js"></script>
    <script src="<?php echo $this->templates_path?>/js/tower.js"></script>
    <script src="<?php echo $this->templates_path?>/js/vue.min.js"></script>
    <script src="<?php echo $this->templates_path?>/js/utility.js"></script>
</head>

<body style="background:#ffd092;">
<div id="app">
    <section style="padding-bottom:1.05rem;">
        <!-- 倒计时 -->
        <div class="Daojishi">
            <img src="<?php echo $this->templates_path?>/images/zbd_03.png" class="m1" alt="">
            <span class="tmm" style="display:none"> 2018-9-3 21:10:30 </span>
            <div class="Timek">
                <span class="t1">0</span>
                <span class="t2">0</span>
                <span class="t3">0</span>
                <span class="t4">0</span>
                <span class="t5">0</span>
                <span class="t6">0</span>
                <span class="t7">0</span>
                <span class="t8">0</span>
            </div>
        </div>
        <div class="Dao_t1">
            2018年第1期
        </div>
        <div class="Dao_t2"  >
            <h1>往期开奖视频</h1>
            <div class="swiper-container swiper-container-horizontal swiper-container-wp8-horizontal lunbo_t2">
                <div class="swiper-wrapper">


                    <div class="swiper-slide" v-for="li in list_prize">
                        <a class="Lis_ys" @click="Lis(li.qihao)" >
                            {{li.qihao}}
                        </a>
                    </div>


                </div>
            </div>
        </div>
        <!-- 倒计时 end -->
        <!-- 活动详情 -->
        <div class=" Tong_pad">
            <div class="Huodxq">
                <div class="t2">活动详情</div>
                <p class="t1">
                    1.固定时间开奖：每周二固定时间在剑南春官方微信开奖，根据上一周的实际宴会场次和中奖概率投放名额（方便淡旺季的控制）。
                    <br> 2.上传宴会照片：每场宴会本身会上传视频和照片，消费者在宴会系统中上传宴会现场照片（以宴会为背景，业务员+次奥飞着+酒的合影），抽奖照片按顺序编号。其目的为体现抽奖者身份的真实性，非我公司安排的卧底。按宴席桌数决定消费者上传照片的数量，体现了抽奖次数，如当场宴会有30桌，则消费者可上传6张照片用于抽奖。
                </p>
            </div>
        </div>
        <!-- 活动详情 end -->
    </section>
    <footer>
        <div class="T_footer">
            <ul class="clearfix">
                <li>
                    <a href="/?c=single&m=act_jzzl">
                        <img src="<?php echo $this->templates_path?>/images/feiji.png" alt="">
                        <span>极致之旅</span>
                    </a>
                </li>
                <li>
                    <a href="/?c=single&m=act_dzp">
                        <img src="<?php echo $this->templates_path?>/images//dazhuanpan.png" alt="">
                        <span>大转盘</span>
                    </a>
                </li>
                <li>
                    <a href="/?c=single&m=act_zpq">
                        <img src="<?php echo $this->templates_path?>/images/zhaopian.png" alt="">
                        <span>照片墙</span>
                    </a>
                </li>
                <li>
                    <a href="/?c=single&m=act_hjmd">
                        <img src="<?php echo $this->templates_path?>/images/jiangpin.png" alt="">
                        <span>获奖名单</span>
                    </a>
                </li>
            </ul>
        </div>
    </footer>

    <!-- 弹出 地区选择 -->
    <div class="Diqxx">
        <h1>选择区域
            <span class="fr">
                <img src="<?php echo $this->templates_path?>/images/guan_03.jpg" alt="">
            </span>
        </h1>

        <ul class="clearfix Diqu_" >
            <li v-for="li1 in list_z">
                <a :href="'/?c=single&m=act_wqsp&sp_id='+li1.qihao+'&qu='+li1.quyu">{{li1.quyu}}</a>
            </li>
        </ul>


    </div>
</div>
</body>
<script>
    var swiper = new Swiper('.lunbo_t2', {
        slidesPerView: 3,
        spaceBetween: 30,
    });

    var app = new Vue({
        el: '#app',
        data: {
            list_prize: [],
            list_z: [],
        }
    });

    function get_list()
    {
        $.getJSON("/index.php?p=show&c=index&a=daojishi",{},function (result) {
            var _data = result.msg;
            if(!result.status){
//            alert(result.msg);
            }else {
                extend(app.list_prize, _data);
            }
        });
    }


    window.onload = function(){
        get_list();
    };


    var Lis=function (name) {
        $.ajax({
            url : 'index.php?p=show&c=index&a=spqh',
            data : {qihao:name},
            dataType : "json",
            type : "GET",
            success:function (msg) {
                app.list_z= msg.msg;
                $(".Diqxx").show();
            }
        });
    };




</script>

</html>