<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,height=device-height, user-scalable=no,initial-scale=1, minimum-scale=1, maximum-scale=1 ">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>大转盘</title>
    <link rel="stylesheet" href="<?php echo $this->templates_path?>/css/swiper-3.4.2.min.css">
    <link rel="stylesheet" href="<?php echo $this->templates_path?>/css/style.css">
    <script src="<?php echo $this->templates_path?>/js/jquery-1.11.0.js"></script>
    <script src="<?php echo $this->templates_path?>/js/swiper-3.4.2.jquery.min.js"></script>
    <script src="<?php echo $this->templates_path?>/js/tower.js"></script>
    <script src="<?php echo $this->templates_path?>/js/vue.min.js"></script>
    <script src="<?php echo $this->templates_path?>/js/jquery.rotate.min.js"></script>
    <script src="<?php echo $this->templates_path?>/js/utility.js"></script>

</head>

<body style="background:#ffd092;">
    <div id="app">
        <section style="padding-bottom:1.05rem;">
        <!-- 轮播图 -->
        <div class="swiper-container lunbo_1">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <img src="<?php echo $this->templates_path?>/images/jz_02.jpg" alt="">
                </div>
                <div class="swiper-slide">
                    <img src="<?php echo $this->templates_path?>/images/jz_02.jpg" alt="">
                </div>
                <div class="swiper-slide">
                    <img src="<?php echo $this->templates_path?>/images/jz_02.jpg" alt="">
                </div>
            </div>
            <div class="swiper-pagination"></div>
        </div>

        <div class="Shaix clearfix">
            <div class="fl">
                <span></span>
                <select name="" id="date">
                    <option value="" selected disabled>开奖期数</option>
                    <option v-for="li in list_issue" :value="li.qihao">{{li.qihao}}</option>
                </select>
            </div>
            <div class="fl">
                <span></span>
                <select name="" id="area">
                    <option value="">开奖区域</option>
                    <option v-for="li in list_area" :value="li.quyumingcheng">{{li.quyumingcheng}}</option>
                </select>
            </div>
        </div>


        <div class="Ming_t1">
            <p> 剑南春环球极致之旅<span id="issue">2018年第1期</span>获奖名单 </p>
        </div>

        <div class="Ming_t2">
            —— <span id="title">极致之旅</span>获奖名单 ——
        </div>


        <div class="Tong_pad">
            <div class="Hj_head clearfix">
                <span class="t4">姓名</span>
                <span class="t5">电话</span>
                <span class="t6">城市</span>
                <span class="t7">宴会时间</span>
                <span class="t8">奖券号码</span>
            </div>
            <ul class="H_body" >
                <li v-for="li in list_rows" :class="li.xuanz?'active':''" @click="uchange(li)">
                    <span class="t4">{{li.xingming}}</span>
                    <span class="t5">{{li.yonghuming}}</span>
                    <span class="t6">{{li.chengshi}}</span>
                    <span class="t7">{{li.yanhuishijian}}</span>
                    <span class="t8">{{li.zhongjianghaoma}}</span>
                </li>
            </ul>
        </div>
    </section>
    </div>
    <?php include CUR_VIEW_PATH."templates/m/act_index.html";?>
</body>
<script src="<?php echo $this->templates_path?>/js/jquery.kxbdmarquee.js"></script>
<script>
    $(function () {
        var mySwiper = new Swiper('.lunbo_1', {
            autoplay: 3000, //可选选项，自动滑动
            pagination: '.swiper-pagination',
            loop: true,
        })
    })
    //中奖列表
    var app = new Vue({
        el: '#app',
        data: {
            list_rows: [],
            list_issue: [],
            list_area: []
        },
        methods:{
            uchange:function(item){
                if(item.xuanz){
                    app.$set(item,'xuanz',false);
                }else{
                    app.$set(item,'xuanz',true);
                }

            }
        }
    });
    window.onload = function(){
        get_lists();
        get_issue();
        get_area();
    };
    //搜索
    $("#date").change(function () {
        get_lists();
        $("#issue").text(this.text());
    });
    $("#area").change(function () {
        get_lists();
    });
    function get_lists() {
        var date = $("#date  option:selected").val();
        var area = $("#area  option:selected").val();
        $("#issue").text(date);
        $(".H_body li").remove();
        $.getJSON("?c=prize&a=ultimate&date="+date+"&area="+area,function (data) {
            if (data.status){
                extend(app.list_rows,data.msg);
                dataDeal(app.list_rows);
                $("#title").text((data.msg[0]['jiangpinmingcheng']));
//                $("#issue").text((app.list_rows[0]['huojiangqishu']));
            }
        })
    }
    function get_area() {
        $.getJSON("?c=prize&a=area",function (data) {
            if (data.status){
                extend(app.list_area,data.msg);
            }
        })
    }
    function get_issue() {
        $.getJSON("?c=prize&a=issue",function (data) {
            if (data.status){
                extend(app.list_issue,data.msg);
            }
        })
    }
    function dataDeal(data) {
        for(var i = 0; i < data.length; i++) {
            var start = data[i]['yonghuming'].slice(0,3);
            var end = data[i]['yonghuming'].slice(-4);
            data[i]['yanhuishijian'] = data[i]['yanhuishijian'].slice(5,10);
            data[i]['yonghuming'] = start+'****'+end;
        }
        return data;
    }

</script>
<script type="text/javascript">
</script>

</html>