<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,height=device-height, user-scalable=no,initial-scale=1, minimum-scale=1, maximum-scale=1 ">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>大转盘</title>
    <link rel="stylesheet" href="<?php echo $this->templates_path?>/css/swiper-3.4.2.min.css">
    <link rel="stylesheet" href="<?php echo $this->templates_path?>/css/style.css">
    <script src="<?php echo $this->templates_path?>/js/jquery-1.11.0.js"></script>
    <script src="<?php echo $this->templates_path?>/js/swiper-3.4.2.jquery.min.js"></script>
    <script src="<?php echo $this->templates_path?>/js/tower.js"></script>
    <script src="<?php echo $this->templates_path?>/js/vue.min.js"></script>
    <script src="<?php echo $this->templates_path?>/js/jquery.rotate.min.js"></script>
    <script src="<?php echo $this->templates_path?>/js/utility.js"></script>
    <script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
    <script>
        var _hmt = _hmt || [];
        (function() {
            var hm = document.createElement("script");
            hm.src = "https://hm.baidu.com/hm.js?ec671709ad25c70148686506a76e5cc9";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>

</head>

<body style="background:#ffd092;">
    <div id="app">
        <section style="padding-bottom:1.05rem;">
        <!-- 轮播图 -->
        <div class="swiper-container lunbo_1">
            <div class="swiper-wrapper">
                <div class="swiper-slide" v-for="li in list_banner" v-cloak>
                    <img :src="li.picture" alt="">
                </div>
            </div>
            <div class="swiper-pagination"></div>
        </div>

        <div class="Shaix clearfix">
            <div class="fl">
                <span></span>
                <select name="" id="date">
                    <option value="" selected disabled>开奖期数</option>
                    <option v-for="li in list_issue" :value="li.qihao">{{li.qihao}}</option>
                </select>
            </div>
            <div class="fl">
                <span></span>
                <select name="" id="area">
                    <option value="">开奖区域</option>
                    <option v-for="li in list_area" :value="li.quyumingcheng">{{li.quyumingcheng}}</option>
                </select>
            </div>
        </div>


        <div class="Ming_t1">
            <p> 剑南春环球极致之旅获奖名单 </p>
        </div>

        <div class="Ming_t2">
            —— 第<span id="issue">1</span>期“<span id="title">俄罗斯世界杯之旅</span>”获奖名单 ——
        </div>


        <div class="Tong_pad">
            <div class="Hj_head clearfix">
                <span class="t4">姓名</span>
                <span class="t5">电话</span>
                <span class="t6">城市</span>
                <span class="t7">宴会时间</span>
                <span class="t8">奖券号码</span>
            </div>
            <ul class="H_body" >
                <li v-for="li in list_rows" :class="li.xuanz?'active':''" @click="uchange(li)">
                    <span class="t4">{{li.xingming}}</span>
                    <span class="t5">{{li.yonghuming}}</span>
                    <span class="t6">{{li.chengshi}}</span>
                    <span class="t7">{{li.yanhuishijian}}</span>
                    <span class="t8">{{li.zhongjianghaoma}}</span>
                </li>
            </ul>
        </div>
    </section>
    </div>
    <?php include CUR_VIEW_PATH."templates/m/act_index.html";?>
</body>
<script src="<?php echo $this->templates_path?>/js/jquery.kxbdmarquee.js"></script>
<script>
    function clock(){
        var mySwiper = new Swiper('.lunbo_1', {
            autoplay: 3000, //可选选项，自动滑动
            pagination: '.swiper-pagination',
            loop: true,
        })
    }
    //中奖列表
    var app = new Vue({
        el: '#app',
        data: {
            list_rows: [],
            list_issue: [],
            list_area: [],
            list_banner: []
        },
        methods:{
            uchange:function(item){
                if(item.xuanz){
                    app.$set(item,'xuanz',false);
                }else{
                    app.$set(item,'xuanz',true);
                }

            }
        }
    });
    window.onload = function(){
        get_lists();
        get_issue();
        get_area();
        get_banner();
        get_share();
        $.get("?c=base&a=color",function (data) {
            $("body").css("background-color","#"+data.msg);
        })
    };
    function get_share() {
        $.getJSON("?c=prize&a=share&url="+encodeURIComponent(location.href.split('#')[0]),function (data) {
            //=================微信分享================
            wx.config({
                debug: false, // 开启调试模式,调用的所有api的返回值会在客户端alert出来，若要查看传入的参数，可以在pc端打开，参数信息会通过log打出，仅在pc端时才会打印。
                appId: data.package['appId'], // 必填，公众号的唯一标识
                timestamp: data.package['timestamp'], // 必填，生成签名的时间戳
                nonceStr:  data.package['nonceStr'], // 必填，生成签名的随机串
                signature: data.package['signature'],// 必填，签名，见附录1
                jsApiList: [
                    'onMenuShareTimeline',
                    'onMenuShareAppMessage',
                    'onMenuShareWeibo',
                    'onMenuShareQQ',
                    'onMenuShareQZone',
                    'hideMenuItems',
                    'showMenuItems'
                ] // 必填，需要使用的JS接口列表，所有JS接口列表见附录2
            });

            wx.ready(function(){
                // config信息验证后会执行ready方法，所有接口调用都必须在config接口获得结果之后，config是一个客户端的异步操作，所以如果需要在页面加载时就调用相关接口，则须把相关接口放在ready函数中调用来确保正确执行。对于用户触发时才调用的接口，则可以直接调用，不需要放在ready函数中。
                var title = '我获得剑南春极致之旅名额，你也来参加';
                var imgUrl = "http://jnc.cdsile.cn/application/views/show/templates/m/images/share_02.jpg";
                var link =  location.href.split('#')[0];
                var desc = '中国三大名酒剑南春办宴会，每瓶赠现金,还可获得俄罗斯世界杯、南极冰川之旅等机会。';
                //分享朋友圈
                wx.onMenuShareTimeline({
                    title: title, // 分享标题
                    link: link, // 分享链接，该链接域名或路径必须与当前页面对应的公众号JS安全域名一致
                    desc: desc,
                    imgUrl: imgUrl, // 分享图标
                    success: function () {
                        // 用户确认分享后执行的回调函数
                    },
                    cancel: function () {
                        // 用户取消分享后执行的回调函数
                    }
                });
                //分享给好友
                wx.onMenuShareAppMessage({
                    title: title, // 分享标题
                    desc: desc, // 分享描述
                    link: link, // 分享链接，该链接域名或路径必须与当前页面对应的公众号JS安全域名一致
                    imgUrl: imgUrl, // 分享图标
                    success: function () {
// 用户确认分享后执行的回调函数
                    },
                    cancel: function () {
// 用户取消分享后执行的回调函数
                    }
                });

                wx.onMenuShareWeibo({
                    title: title,
                    desc: desc,
                    link: link,
                    imgUrl: imgUrl,
                    success: function () {
                        //alert('分享成功');
                    },
                    cancel: function () {
                        //alert('您已取消分享');
                    }
                });

                wx.onMenuShareQQ({
                    title: title,
                    desc: desc,
                    link: link,
                    imgUrl: imgUrl,
                    success: function () {
                        //alert('分享成功');
                    },
                    cancel: function () {
                        //alert('您已取消分享');
                    }
                });

                wx.onMenuShareQZone({
                    title: title, // 分享标题
                    desc: desc, // 分享描述
                    link: link, // 分享链接
                    imgUrl: imgUrl, // 分享图标
                    success: function () {
// 用户确认分享后执行的回调函数
                    },
                    cancel: function () {
// 用户取消分享后执行的回调函数
                    }
                });


                wx.error(function (res) {
                    console.log(res.errMsg);
                });
            });
        })
    }
    function get_banner() {
        $.getJSON("?c=prize&a=ban",function (data) {
            if (data.status){
                extend(app.list_banner,data.msg);
                app.$nextTick(function(){
                    clock();
                });
            }
        })
    }

    //搜索
    $("#date").change(function () {
        get_area();
        $('#area').prop('selectedIndex', 0);
        get_lists();
        var txt = $("#date").val().slice(-1);
        $("#issue").text(txt);
    });
    $("#area").change(function () {
        get_lists();
    });

    function get_lists() {
        var select = $("#date  option:selected").val();
        if (select==""){
            var reg = new RegExp("(^|&)date=([^&]*)(&|$)");
            var r = window.location.search.substr(1).match(reg);
            if(r!=null){
                var date = decodeURI(r[2]);
            }
            if (!date){
                var date = $("#date  option:selected").val();
            }
        }else {
            var date = $("#date  option:selected").val();
        }
        var area = $("#area  option:selected").val();
//        $("#issue").text(date);
        $(".H_body li").remove();
        $.getJSON("?c=prize&a=ultimate&date="+date+"&area="+area,function (data) {
            if (data.status){
                extend(app.list_rows,data.msg);
                dataDeal(app.list_rows);
                $("#title").text((data.msg[0]['jiangpinmingcheng']));
                $("#issue").text(data.msg[0]['huojiangqishu'].slice(-1));
            }
        })
    }
    function get_area() {
        var select = $("#date  option:selected").val();
        if (select==""){
            var reg = new RegExp("(^|&)date=([^&]*)(&|$)");
            var r = window.location.search.substr(1).match(reg);
            if(r!=null){
                var date = decodeURI(r[2]);
            }
            if (!date){
                var date = $("#date  option:selected").val();
            }
        }else {
            var date = $("#date  option:selected").val();
        }
        $.getJSON("?c=prize&a=area&date="+date,function (data) {
            if (data.status){
                app.list_area.splice(0,app.list_area.length);
                extend(app.list_area,data.msg);
                for(var i=0;i<data.msg.length;i++){
                    app.$set(app.list_area,app.list_area.i,data.msg[i])
                }
            }
        })
    }
    function get_issue() {
        $.getJSON("?c=prize&a=issue",function (data) {
            if (data.status){
                extend(app.list_issue,data.msg);
            }
        })
    }
    function dataDeal(data) {
        for(var i = 0; i < data.length; i++) {
            var start = data[i]['yonghuming'].slice(0,3);
            var end = data[i]['yonghuming'].slice(-4);
            data[i]['yanhuishijian'] = data[i]['yanhuishijian'].slice(5,10);
            data[i]['yonghuming'] = start+'****'+end;
        }
        return data;
    }

</script>
<script type="text/javascript">
</script>

</html>