<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,height=device-height, user-scalable=no,initial-scale=1, minimum-scale=1, maximum-scale=1 ">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>照片墙</title>
    <link rel="stylesheet" href="<?php echo $this->templates_path?>/css/swiper-3.4.2.min.css">
    <link rel="stylesheet" href="<?php echo $this->templates_path?>/css/style.css">
</head>

<body style="background:#ffd092;">
<div id="app">
    <!-- 筛选条件 -->
    <div class="H_shaix">
        <span class="t1">
            <label id="date">期数</label>
            <img src="<?php echo $this->templates_path?>/images/sanj_03.jpg" alt="">
        </span>
        <span class="t2">
            <label id="area">区域</label>
            <img src="<?php echo $this->templates_path?>/images/sanj_03.jpg" alt="">
        </span>
        <a href="?c=single&m=act_zpss" class="t3">
            <img src="<?php echo $this->templates_path?>/images/sousuo_03.jpg" alt=""> 搜索
        </a>
    </div>
    <!-- 筛选条件 end -->
    <section style="padding-bottom:1.05rem;padding-top:.8rem">
        <div class="Zhaopianq clearfix">
            
            
            <div class="Zpzs"  v-for="li in list_yhmd"  v-cloak >
                <a :href="'?c=single&m=act_zpxq&id='+li.id">
                    <img   alt="宴会图片"  src=""  v-lazy="li.touxiang"  >
                    <div class="t2">
                        {{li.yanhuishijian}}
                        <img src="<?php echo $this->templates_path?>/images/zany.png" class="m1" alt="">
                        <img src="<?php echo $this->templates_path?>/images/zan.png" class="m2" alt="">
                    </div>
                    <div class="Zwenzi">
                        <div class="t4">
                            {{li.yanhuidizhi}}
                        </div>
                        <div class="t5">
                            <span>奖券号码</span>
                            <label> {{li.jiangquanhaoma}}</label>
                        </div>
                        <div class="t6">
                            {{li.sheng}}{{li.shi}}
                            <br> 单号:{{li.yanhuidanhao}}
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </section>
    <?php include CUR_VIEW_PATH."templates/m/act_index.html";?>
    <!-- 遮罩 -->
    <div class="zhezhao"></div>
    <!-- 筛选 下拉 t1 -->
    <div class="Shaixia">
        <ul class="t1">
            <li v-for="(li,index) in list_issue" :class="li.xuanz?'active':''" @click="uchange(li,index)"  ref="menuItem">
                {{li.qihao}}
            </li>
        </ul>
    </div>
    <!-- 筛选下来 地区 -->
    <div class="Shaixiadiqu">
        <ul class="t1">
            <li v-for="(li,offset) in list_area" :class="li.xuanz?'active':''" @click="achange(li,offset)"  ref="item">
                {{li.quyumingcheng}}
            </li>
        </ul>
    </div>
</div>
    <script src="<?php echo $this->templates_path?>/js/jquery-1.11.0.js"></script>
    <script src="<?php echo $this->templates_path?>/js/swiper-3.4.2.jquery.min.js"></script>
    <script src="<?php echo $this->templates_path?>/js/tower.js"></script>
    <script src="<?php echo $this->templates_path?>/js/vue.min.js"></script>
    <!-- lazyload -->
    <script src="<?php echo $this->templates_path?>/js/vue-lazyload.js"></script>
    <!-- lazyload -->
    <script src="<?php echo $this->templates_path?>/js/utility.js"></script>
    <script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
    <script type="text/javascript" src="<?php echo $this->templates_path?>/layer/layer.js"></script>
    <script type="text/javascript">
    
    var app = new Vue({
		el: '#app',
		data: {
			list_yhmd: [],
			list_issue:[],
            list_area:[]
		},
        methods: {
            uchange: function (item, index) {
                $(".Shaixia li").removeClass("active");
                $(this).addClass("active");
                var c = this.$refs.menuItem[index].innerText;
                $("#date").text(c);
                $(".zhezhao")
                    .stop()
                    .fadeToggle();
                $(".Shaixia")
                    .stop()
                    .slideToggle();
            },
            achange: function (item, offset) {
                $(".Shaixiadiqu li").removeClass("active");
                $(this).addClass("active");
                var c = this.$refs.item[offset].innerText;
                $("#area").text(c);
                $(".zhezhao")
                    .stop()
                    .fadeToggle();
                $(".Shaixiadiqu")
                    .stop()
                    .slideToggle();
            }
        }
	});

    //lazyload
    Vue.use(VueLazyload, {
        preLoad: 1.3,
        error: '<?php echo $this->templates_path?>/images/wutu.jpg',
        loading: '<?php echo $this->templates_path?>/images/zp_03.jpg',
        attempt: 1
    });

    window.onload = function(){  
    	get_zpq();
        get_issue();
        get_area();
    };

    //搜索
    $(".Shaixia").click(function () {
        get_zpq();
    });
    $(".Shaixiadiqu").click(function () {
        get_zpq();
    });

    function get_zpq(){
        var date = $("#date").text();
        var area = $("#area").text();
        $(".Zpzs").remove();
        $.getJSON('?c=prize&a=gallery&page=1&date='+date+"&area="+area, function(result) {
            if (result.status){
                extend(app.list_yhmd, result.msg);
                dataDeal(app.list_yhmd);
                $(".Zhaopianq p").remove();
            }else {
                $(".Zhaopianq p").remove();
                $(".Zhaopianq").append("<p>暂无照片</p>");
            }
        });

    }

    function get_issue() {
        $.getJSON("?c=prize&a=issue",function (data) {
            if (data.status){
                extend(app.list_issue,data.msg);
            }
        })
    }

    function get_area() {
        $.getJSON("?c=prize&a=area",function (data) {
            if (data.status){
                extend(app.list_area,data.msg);
            }
        })
    }


    function dataDeal(data) {
        for(var i = 0; i < data.length; i++) {
            data[i]['yanhuishijian'] = data[i]['yanhuishijian'].slice(2,10);
        }
        return data;
    }

    $(function () {
        var page = 2;
        var date = $("#date").text();
        var area = $("#area").text();
        $(window).scroll(function(){
            totalheight = parseFloat($(window).height()) + parseFloat($(window).scrollTop());
            if($(document).height() <= totalheight){
                $.get('?c=prize&a=gallery&page=1&date='+date+"&area="+area+"&page="+page,function(data){
                    if (data.status){
                        app.$set(app.list_yhmd,app.list_yhmd.length,data.msg)
                    }else {
                        layer.msg("已经到底了");
                        $(window).scroll(function () {

                        });
                    }
                });
                page = page+1;
            }
        });
    })
    </script>


</body>
</html>