<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,height=device-height, user-scalable=no,initial-scale=1, minimum-scale=1, maximum-scale=1 ">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>极致之旅</title>
    <link rel="stylesheet" href="<?php echo $this->templates_path?>/css/swiper-3.4.2.min.css">
    <link rel="stylesheet" href="<?php echo $this->templates_path?>/css/style.css">
    <script src="<?php echo $this->templates_path?>/js/jquery-1.11.0.js"></script>
    <script src="<?php echo $this->templates_path?>/js/swiper-3.4.2.jquery.min.js"></script>
    <script src="<?php echo $this->templates_path?>/js/tower.js"></script>
    <script src="<?php echo $this->templates_path?>/js/vue.min.js"></script>
    <script src="<?php echo $this->templates_path?>/js/utility.js"></script>
</head>

<body style="background:#ffd092;">
    <section style="padding-bottom:1.05rem;" id="app">
       
        <!-- 活动详情 -->
        <div class=" Tong_pad">
            <div class="Huodxq">
                <div class="t2">客服中心</div>
                <div class="Tong_pad">
            <div class="Hj_head clearfix">
                <span class="t4">姓名</span>
                <span class="t5" style="margin-left:100px">电话</span>
              
            </div>
            <ul class="H_body" v-for="li in list_prize">
                <li>
                    <span class="t4"><a :href="'tel:'+li.dianhua">{{li.xingming}}</a></span>
                    <span class="t5" style="margin-left:100px"><a :href="'tel:'+li.dianhua">{{li.dianhua}}</a></span>
                </li>
            </ul>

        </div>
            </div>
        </div>
        <!-- 活动详情 end -->
    </section>

    <aside>
        <div class="T_aside">
            <a href="/?c=single&m=act_dzp">
                <img src="<?php echo $this->templates_path?>/images/wode.png" alt="">
                <span>抽奖</span>
            </a>
            <a href="/?c=single&m=index_kfzx">
                <img src="<?php echo $this->templates_path?>/images/kefu.png" alt=""><span>客服</span>
            </a>
        </div>
    </aside>
    <footer>
        <div class="T_footer">
            <ul class="clearfix">
                <li>
                    <a href="/?c=single&m=act_jzzl">
                        <img src="<?php echo $this->templates_path?>/images/feiji.png" alt="">
                        <span>极致之旅</span>
                    </a>
                </li>
                <li>
                    <a href="/?c=single&m=act_dzp">
                        <img src="<?php echo $this->templates_path?>/images//dazhuanpan.png" alt="">
                        <span>大转盘</span>
                    </a>
                </li>
                <li>
                    <a href="/?c=single&m=act_zpq">
                        <img src="<?php echo $this->templates_path?>/images/zhaopian.png" alt="">
                        <span>照片墙</span>
                    </a>
                </li>
                <li>
                    <a href="/?c=single&m=act_hjmd">
                        <img src="<?php echo $this->templates_path?>/images/jiangpin.png" alt="">
                        <span>获奖名单</span>
                    </a>
                </li>
            </ul>
        </div>
    </footer>
</body>
<script src="<?php echo $this->templates_path?>/js/jquery.kxbdmarquee.js"></script>
<script>
    var app = new Vue({
        el: '#app',
        data: {
            list_prize: [],
        }
    });



    function get_list()
    {
        $.getJSON("/index.php?p=show&c=index&a=kfzx",{},function (result) {
            var _data = result.msg;
            if(!result.status){
//                alert(result.msg);
            }else {
                extend(app.list_prize, _data);
            }
        });
    }


    window.onload = function(){
        get_list();
    };
</script>
<script type="text/javascript">
</script>

</html>