<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,height=device-height, user-scalable=no,initial-scale=1, minimum-scale=1, maximum-scale=1 ">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>我的宴会</title>
    <link rel="stylesheet" href="<?php echo $this->templates_path?>/css/swiper-3.4.2.min.css">
    <link rel="stylesheet" href="<?php echo $this->templates_path?>/css/style.css">
    <script src="<?php echo $this->templates_path?>/js/jquery-1.11.0.js"></script>
    <script src="<?php echo $this->templates_path?>/js/swiper-3.4.2.jquery.min.js"></script>
    <script src="<?php echo $this->templates_path?>/js/tower.js"></script>
</head>

<body style="background:#ffd092;">
    <section style='padding:.15rem .25rem 1.2rem .25rem;'>
        <div class="Jp_xuz">
            <h1>领取奖品品须知 </h1>
            <div class="t1">
                为避免开业免费发放赠品时人员太过拥挤，对领取赠品时几点注意事项告知如下：
                <br> 开业期间3月8日、9日两天免费发放赠品，格力公司准备了格力口杯300个，挂表40个，格力炒锅100个，红酒120瓶，专为女士赠送市三院的体检卡及电磁炉、电饭煲、落地扇等千余份礼品。
                <br> 1、凭报纸或单页可免费领取格力口杯、挂表、炒锅（随开业期间3月8日、9日两天免费发放赠品，格力公司准备了格力口杯300个，挂表40个，格力炒锅100个，红酒120瓶，专为女士赠送市三院的体检卡及电磁炉、电饭煲、落地扇等千余份礼品。
            </div>
            <div class="t2">
                <span>展开全部</span>
                <img src="<?php echo $this->templates_path?>/images/xial_03.jpg" alt="">
            </div>
            <div class="login_t1">
                <span> </span>
                <label for="">我已经阅读并同意</label>
                <a href="">《剑南春宴会抽奖活动协议》</a>
            </div>
            <input type="hidden" id="id" value="<?=$_GET['id']?>">
            <input type="text" class="Input_t1" id="name" placeholder="请输入您的姓名">
            <input type="text" class="Input_t1" id="tel" placeholder="请输入您的电话">
            <input type="text" class="Input_t1" id="idcard" placeholder="请输入您的身份证号码">
        </div>
    </section>
    <footer>
        <div class="Tijiao_xuz" id="tj">
            立即提交
        </div>
    </footer>


    <!-- 弹出 -->
    <!-- 遮罩 -->
    <div class="zhezhao"></div>
    <!-- 不能登陆 -->
    <div class="Tanc_">
        <img src="<?php echo $this->templates_path?>/images/close_03.png" class="Ta_close" alt="">
        <p class="Tanc_p">
               <span>请勾选</span> 《剑南春宴会抽奖活动协议》
        </p>
        <div class="Tanc_a"> 好的,知道了</div>
    </div>

    <aside>
        <div class="T_aside">
            <a href="/?c=single&m=act_dzp">
                <img src="<?php echo $this->templates_path?>/images/wode.png" alt="">
                <span>抽奖</span>
            </a>
            <a href="/?c=single&m=index_kfzx">
                <img src="<?php echo $this->templates_path?>/images/kefu.png" alt=""><span>客服</span>
            </a>
        </div>
    </aside>
</body>



</html>