<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,height=device-height, user-scalable=no,initial-scale=1, minimum-scale=1, maximum-scale=1 ">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>剑南春宴会抽奖活动协议</title>
    <link rel="stylesheet" href="<?php echo $this->templates_path ?>/css/swiper-3.4.2.min.css">
    <link rel="stylesheet" href="<?php echo $this->templates_path?>/css/style.css">
    <!--<link rel="stylesheet" href="<?php echo $this->templates_path?>/css/webuploader.css">-->
    <script src="<?php echo $this->templates_path?>/js/jquery-1.11.0.js"></script>
    <script src="<?php echo $this->templates_path?>/js/swiper-3.4.2.jquery.min.js"></script>
    <script src="<?php echo $this->templates_path?>/js/tower.js"></script>
</head>

<body style="background:#ffd092;">

<br><br>
<div style="padding-left: 60px;padding-right: 60px">
<p style="font-size: 15px">&emsp;&emsp;1.本次活动为我司针对购买剑南春举办宴会并成功报备的消费者所开展的回馈活动。本活动所有时间、地点、图片等信息均来源于报备登记信息，为系统自动生成无法人为修改，信息来源真实，活动公平公正公开！</p>
<p style="font-size: 15px">&emsp;&emsp;2.宴会照片来源于业务员提供的现场照片。由于拍摄条件有限，如存在部分照片不够美观的情况，消费者可以登陆系统，在“个人中心”点击照片重新上传宴会当天美照。</p>
<p style="font-size: 15px">&emsp;&emsp;3.参加本次宴席抽奖活动，即默认您授权剑南春将相应宴会照片用于本次活动进行媒体宣传。</p>
<p style="font-size: 15px">&emsp;&emsp;4.请自觉上传符合我国法律的照片，如发现上传不当图片，我司有权予以删除，并取消抽奖资格。</p>
<p style="font-size: 15px">&emsp;&emsp;5.请遵守抽奖活动相应规则，如消费者提供的宴会报备登记信息与宴会实际开展情况不符，我司有权取消其抽奖资格。</p>
<p style="font-size: 15px">&emsp;&emsp;6.本活动最终解释权归剑南春官方微信。</p>
</div>

</body>

</html>