<!DOCTYPE html>
<html>

<head>
	<?php include CUR_VIEW_PATH."public/head.html"?>
</head>

<body class="body-color">
	<header>
		<?php include CUR_VIEW_PATH."public/header.html"?>

	</header>
	<!--侧边菜单栏-->
	<aside class="side-nav">
		<?php include CUR_VIEW_PATH."public/aside.html"?>
	</aside>
	<!--侧边菜单栏 end-->

	<!--主体部分-->
	<section class="body-content">
		<!--当前位置-->
		<div class="site-location">
			&nbsp;&nbsp;
			<span class="ficon ficon-weizhi"></span>&nbsp;<a href="index.php?p=admin&c=index&a=index">用户首页</a>
			&nbsp;&gt;&nbsp;<a href="index.php?p=admin&c=moxing&a=index">模型管理</a>
			&nbsp;&gt;&nbsp;<a href="index.php?p=admin&c=sort&a=index&model_id=<?php echo $_GET['model_id'] ?>">分类管理</a>
		</div>
		
		<!--当前位置 end-->
		<br/>
		
		<!--筛选条件-->
			<div class="filter">
				
				<div class="filter-right">
					<a href="index.php?p=admin&c=sort&a=add&model_id=<?php echo $model_id ?>&sort_id=<?php echo $sort_id ?>" class="btn btn-green"> <em class="ficon ficon-tianjia"></em> 添加</a>
				</div>
				<br />
				<p class="clear-right"></p>
			</div>
			<!--筛选条件 end-->
			<br/>
			
		<!--文章table-->
        <table class="table table-border table-hover" id="content">
				<thead>
				<tr>
                    <!-- <th  style="width:60px"></th> -->
					<th  style="width:80px">编号</th>
					<th>名称</th>
					<th class="hidden-xs">列表模板</th>
                    <th class="hidden-xs">内容模板</th>
                    <th class="hidden-xs">路径</th>
                    <th  style="width:60px">顺序</th>
					<th>分类</th>
					<th>操作</th>
				</tr>
				</thead>
				<tbody>
				 
		<?php foreach($sort as $v){ ?>

               <tr>
				<!-- <td>
                    &nbsp;&nbsp;
						<div class="checkbox checkbox-inline checkbox-success">
                             <input type="checkbox" name="chk" value="44" />
                            <label></label>
                        </div>
						
					</td> -->
					<td>
						<?php echo $v['id'] ?>
					</td>
					<td style=" text-align:left"><a href="index.php?p=admin&c=sort&a=index&model_id=<?php echo $_GET['model_id'] ?>&sort_id=<?php echo $v['id'] ?>"><?php echo $v['u1'] ?></a></td>
			<td class="hidden-xs"><?php echo $v['u2'] ?></td>
			<td class="hidden-xs"><?php echo $v['u3'] ?></td>
            <td class="hidden-xs"><?php echo $v['u4'] ?></td>
			<td><?php echo $v['paixu'] ?></td>
			<td><?php echo $v['sort_name'] ?></td>
					<td>
                        <a href="index.php?p=admin&c=sort&a=edit&model_id=<?php echo $_GET['model_id'] ?>&sort_id=<?php echo $v['sort_id'] ?>&id=<?php echo $v['id'] ?>" title="编辑" class="operation"><span class="ficon ficon-xiugai"></span></a>
                        <a href="index.php?p=admin&c=lanmu&a=add&name=<?php echo $v['u1'] ?>&type=wenzhang&sortid=<?php echo $v['id'] ?>&url=index.phpghy123p=adminghy321c=sortghy321a=indexghy321model_id=<?php echo $v['model_id'] ?>ghy321sort_id=<?php echo $v['id'] ?>" title="更新到栏目" class="operation"><span class="ficon ficon-zhuanhuan"></span></a>
                        <a href="index.php?p=admin&c=sort&a=add&model_id=<?php echo $_GET['model_id'] ?>&sort_id=<?php echo $v['id'] ?>" title="添加子类" class="operation"><span class="ficon ficon-zoomout"></span></a>
						<a onclick="return confirm('你确认将该频道删除?');" id="repChannel_ctl01_btnDelete" href="index.php?p=admin&c=sort&a=delete&model_id=<?php echo $v['model_id'] ?>&sort_id=<?php echo $sort_id ?>&id=<?php echo $v['id'] ?>" title="删除" class="operation"><span class="ficon  ficon-shanchu"></span></a>
					</td>
					
				</tr>
         <?php } ?>
          
          
				</tbody>
			</table>
			
			<!--文章table  end-->
			<!--操作部分-->
			<!-- <div class="o-hidden padtb-20">
			    
			
				<div class="fl full-sm">
				    <div class="checkbox checkbox-success fl" style="margin-bottom: 0;">
	                    <input type="checkbox" id="check-all" onclick="selcheck('content')">
	                    <label for="check-all">全选</label>
	                 </div>
	                 <div class="fl ft14">
	                 	&nbsp;&nbsp;
	                     <a href="javascript:chk1('<?php echo $_GET['p'] ?>','delete','sort')" title="删除" class="operation gray"><span class="ficon ficon-qingkong"></span> 删除</a>
						
	                 </div>
	                 <p class="clear"></p>
				</div>
				
			</div> -->
			<!--操作部分 end-->


<footer>
	<?php include CUR_VIEW_PATH."public/footer.html"?>
</footer>
</section>

<p class="clear"></p>

<script src="application/views/admin/js/wow.min.js" type="text/javascript"></script>
<script src="application/views/admin/js/common.js" type="text/javascript"></script>

<!--wow 初始化-->
<script>
	if(!(/msie [6|7|8|9]/i.test(navigator.userAgent))) {
		new WOW().init();
	};
</script>
</body>

</html>