<!DOCTYPE html>
<html>

<head>
	<?php include CUR_VIEW_PATH."public/head.html"?>
	<script src="<?php echo $this->templates_path?>/layer/layer.js"></script>
</head>

<body class="body-color">
	<header>
		<?php include CUR_VIEW_PATH."public/header.html"?>

	</header>
	<!--侧边菜单栏-->
	<aside class="side-nav">
		<?php include CUR_VIEW_PATH."public/aside.html"?>
	</aside>
	<!--侧边菜单栏 end-->

	<!--主体部分-->
	<section class="body-content">
		<!--当前位置-->
		<div class="site-location">
			&nbsp;&nbsp;
			<span class="ficon ficon-weizhi"></span>&nbsp;<a href="index.php?p=admin&c=index&a=index">用户首页</a>
			&nbsp;&gt;&nbsp;<a href="index.php?p=admin&c=moxing&a=index">模型管理</a>
			&nbsp;&gt;&nbsp;<a href="#">表单管理</a>
		</div>
		
		<!--当前位置 end-->
		<br/>
		
		<!--筛选条件-->
<div class="filter">
<form method="post" action="index.php?p=admin&c=autotable&a=index&model_id=<?php echo $_GET['model_id'] ?>" name='theForm' id="search_from">
	<div class="filter-left">
		<div class="form-control">
			 
			
			<!-- 自动增加搜索条件 start --> 
			
			 <?php foreach($filedLists as $v){ ?> 
                 <?php if( $v['u7']=="单选"  ){ ?>

                   <?php echo $this->getKj($v['u7'],$v['u2'],$v['u1'] ,empty($_REQUEST[$v['u1']])?"":$_REQUEST[$v['u1']],$v['u3'] ,$v['id']) ?>
                    
                 <?php } ?>
                 
                  <?php if( $v['u7']=="下拉框"  ){ ?>

                   <?php echo  $this->showKj($v['u7'],$v['u2'],$v['u1'] ,empty($_REQUEST[$v['u1']])?"":$_REQUEST[$v['u1']] ,$v['u3'] ,$v['id']) ?>
                    
                 <?php } ?>
                 
             <?php } ?>
			
			
			<!-- 自动增加搜索条件 end -->
			

		</div>
	</div>
	

	<div class="filter-right">
	<input name="u6" type="text" id="u6" class="input" placeholder="搜索条件"  value="<?php echo empty( $_REQUEST['u6'])?"": $_REQUEST['u6']  ?>"/>
			<input type="submit" name="Button1" value="搜索" id="Button1" class="btn btn-blue"/>
		<?php echo $moxing["u7"] ?>
		<a href="index.php?p=admin&c=autotable&a=add&model_id=<?php echo $_GET['model_id'] ?>" class="btn btn-green"> <em class="ficon ficon-tianjia"></em> 添加</a>
	</div>
</form>
	
	<br />
	<p class="clear-right"></p>
</div>
<!--筛选条件 end-->

<!--表单table-->
<table class="table table-border table-hover" id="content">
	<thead>
		<tr>
			<th style='width:8%'>编号</th>
			<?php foreach($filedLists as $v){ ?>
                <th style='width:<?php echo $v['u9']?>;text-align:left'><?php echo $v['u2']?></th>
            <?php } ?>
			
			
			<th>操作</th>
		</tr>
	</thead>
	
	
	<?php foreach($tableModel as $brand) : ?>
	<tr>
		<td style='width:8%'> &nbsp;&nbsp;
			<div class="checkbox checkbox-inline checkbox-success"><input type="checkbox" name="chk" value="<?php echo $brand['id']?>"><label><?php echo $brand['id']?></label></div>
		</td>
		 
		<?php foreach($filedLists as $v){ ?>
		
		   <td style='width:<?=$v["u9"]?>;text-align:left'> 
                  <?php echo $this->showKj($v["u7"],$v["u2"],$v["u1"] ,$brand[$v["u1"]],$v["u3"] ,$v["id"]) ?>
                  
                  </td>
                
                
        <?php } ?>
            
           
		<td>
			<?php if($v['model_id']==130){ ?>
			<!--<a id="zairu" name="<?=$brand['id']?>"  href="index.php?p=show&c=index&a=mingdan&id=<?=$brand['id']?>">载入</a>|-->
			<a id="jq" name="<?=$brand['id']?>" href="javascript:;">生成奖券</a>|
			<a id="zairu" name="<?=$brand['id']?>" href="javascript:;">载入</a>|
			<a href="index.php?p=admin&c=autotable&a=edit&model_id=<?php echo $_GET['model_id']?>&id=<?php echo $brand['id'];?>">修改</a> |
			<a onclick="return confirm('你确认将该信息删除到回收站?   注意：相关图片和资源也将一起删除到回收站');" href="index.php?p=admin&c=autotable&a=delete&model_id=<?php echo $_GET['model_id']?>&id=<?php echo $brand['id'];?>">删除</a>
			<?php }elseif($v['model_id']==134){ ;?>

			<a id="zrtp" name="<?=$brand['id']?>" href="javascript:;">载入</a>|
			<a id="ppjq" name="<?=$brand['id']?>" href="javascript:;">匹配奖券</a>|
			<a href="index.php?p=admin&c=autotable&a=edit&model_id=<?php echo $_GET['model_id']?>&id=<?php echo $brand['id'];?>">修改</a> |
			<a onclick="return confirm('你确认将该信息删除到回收站?   注意：相关图片和资源也将一起删除到回收站');" href="index.php?p=admin&c=autotable&a=delete&model_id=<?php echo $_GET['model_id']?>&id=<?php echo $brand['id'];?>">删除</a>

			<?php }else{ ; ?>
			<div>
				<!-- <a href='#' target=_blank>查看</a> | -->
				<a href="index.php?p=admin&c=autotable&a=copy&model_id=<?php echo $_GET['model_id']?>&id=<?php echo $brand['id'];?>">复制</a>|
				<a href="index.php?p=admin&c=autotable&a=edit&model_id=<?php echo $_GET['model_id']?>&id=<?php echo $brand['id'];?>">修改</a> |
				<a onclick="return confirm('你确认将该信息删除到回收站?   注意：相关图片和资源也将一起删除到回收站');" href="index.php?p=admin&c=autotable&a=delete&model_id=<?php echo $_GET['model_id']?>&id=<?php echo $brand['id'];?>">删除</a>
			</div>
			<?php } ?>
		</td>
	</tr>
	<?php endforeach;?>
	
	
</table>

<!--表单table  end-->
<!--操作部分-->
<div class="o-hidden padtb-20">

	<div class="fl full-sm">
		<div class="checkbox checkbox-success fl" style="margin-bottom: 0;">
			<input type="checkbox" id="check-all" onclick="selcheck('content')">
			<label for="check-all">全选</label>
		</div>
		<div class="fl ft14">
			&nbsp;&nbsp;
			<a href="javascript:chk1('index.php?p=admin&c=autotable&a=delete&model_id=<?php echo $_GET['model_id']?>')" title="删除" class="operation gray"><span class="ficon ficon-qingkong"></span> 删除</a>
			<?php echo $moxing["u8"] ?>
		</div>
		<p class="clear"></p>
	</div>
	<div class="fr full-sm">
		<div class="pagelist">
			<?php echo $pageinfo;?>
		</div>
	</div>
</div>
<!--操作部分 end-->


<footer>
	<?php include CUR_VIEW_PATH."public/footer.html"?>
</footer>
</section>

<p class="clear"></p>

<script src="application/views/admin/js/wow.min.js" type="text/javascript"></script>
<script src="application/views/admin/js/common.js" type="text/javascript"></script>

<!--wow 初始化-->
<script>
	if(!(/msie [6|7|8|9]/i.test(navigator.userAgent))) {
		new WOW().init();
	};

	$('#jq').click(function () {
        var id=this.name;
        $.ajax({
            url : 'index.php?p=show&c=admin&a=jqsc',
            data : {id:id,limit:0},
            dataType : "json",
            type : "GET",
//            async:false,
            beforeSend:function () {
//                index = layer.load(0, {shade: false});
                layer.msg('奖券生成中,请耐心等待', {
                    icon: 16
                    ,shade: 0.01
					,time:0
                });
            },
            success:function (msg) {
                if (msg=='2'){
                    layer.msg('请勿重复生成');return false;
                }else {
                  layer.msg('成功');return false;
                }
            }
        });
    });

	$('#zairu').click(function () {
	    var id=this.name;
        $.ajax({
            url : 'index.php?p=show&c=admin&a=sfzu',
            data : {id:id},
            dataType : "json",
            type : "GET",
//            async:false,
            beforeSend:function () {
//                index = layer.load(0, {shade: false});
            },
            success:function (msg) {
               if (msg=='1'){
                   layer.msg('请勿重复载入');return false;
			   }else {
                   window.location.href = 'index.php?p=show&c=index&a=mingdan&id='+id+'';
			   }
            }
           });
    });

	$('#zrtp').click(function () {
        var id=this.name;
        $.ajax({
            url : 'index.php?p=show&c=admin&a=sfzu1',
            data : {id:id},
            dataType : "json",
            type : "GET",
//            async:false,
            beforeSend:function () {
                layer.msg('加载中,请耐心等待', {
                    icon: 16
                    ,shade: 0.01
                });
            },
            success:function (msg) {
                if (msg=='1'){
                    layer.msg('请勿重复载入');return false;
                }else {
                    window.location.href = 'index.php?p=show&c=admin&a=img&id='+id+'';
                }
            }
        });
    })

	$('#ppjq').click(function () {
        var id=this.name;
        $.ajax({
            url : 'index.php?p=show&c=admin&a=zppp',
            data : {id:id,limit:0},
            dataType : "json",
            type : "GET",
//            async:false,
            beforeSend:function () {
//                index = layer.load(0, {shade: false});
                layer.msg('照片匹配中,请耐心等待', {
                    icon: 16
                    ,shade: 0.01
                    ,time:0
                });
            },
            success:function (msg) {
                if (msg=='2'){
                    layer.msg('成功');return false;
				}
                 
            }
        });
    })
</script>
</body>

</html>